<!DOCTYPE html>
<html lang="en">


    


    <head>
        <link rel="icon" type="image/x-icon" href="{{ asset('G1negro.ico') }}" />
        <meta charset="UTF-8" />
        <title>{% block title %} Título base {% endblock %}</title>
        {% block bootstrap %}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"> 
       {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> #}
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{#        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     	<link rel="stylesheet" href="estilos.css">
		<link rel="stylesheet" href="fonts.css">
        
        {% endblock %}
        {% block extras %} 
    	<script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>{% endblock %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="main.js"></script>
		<script>
			$(document).ready(main);
	 
			var contador = 1;
			var aparecer = 0;
			function main () {
				$('.menu_bar span').click(function(){
					if (contador == 1) {
						$('nav').animate({
							left: '0'
						});
						contador = 0;
					} else {

						contador = 1;
						$('nav').animate({
							left: '-100%'
						});
						aparecer = 2;
					}
				});
				
				// Mostramos y ocultamos submenus
				$('.submenu').click(function(){
					$(this).children('.children').slideToggle();
				});
			}
		</script>

		
		</script> 

        <style type="text/css">
            /*
            #fondoBase, html{
                height: 100%;
                
                background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
            }*/
            * {
            	padding:0;
				margin:0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            body {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                display: flex;
                flex-wrap: wrap;
                min-height: 100vh;
                background-repeat: no-repeat;
                /*background-image: linear-gradient(rgb(104, 147, 162), rgb(12, 97, 33));*/
                background: rgba(179,220,237,1);
                background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
                background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
                background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
                background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
                background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
                Copy text
            }
            /************ 
			//-------------------------------
			// CABECERA
			//-------------------------------
			************/

			
			.menu_bar {
				display:none;
			}
			.container1{
				z-index:1000;
				width:100%;
				height: 56px;
				position: fixed;
			}
			header {
				width: 100%;
				height: 70px;
			}

			header nav {
				background:#023859;
				z-index:1000;
				width:100%;
				height: 56px;
				padding-right: 115px;
				padding-left: 115px;
			}

			header nav ul {
				list-style:none;
			}

			header nav ul .derecha{
				list-style:none;
				float: right;
			}

			header nav ul li {
				display:inline-block;
				position: relative;
			}
			header nav ul li .submenu {
				display:inline-block;
				position: relative;
				text-decoration: none;
			}
			header nav ul li a:hover {
				text-decoration: none;
				background-color: #ddd;
	  			color: black;
			}

			header nav ul li a {
				color:#fff;
				display:block;
				text-decoration:none;
				padding: 18px;
				font-size: 14px;
				text-align: center;
			}

			header nav ul li a span {
				margin-right:10px;
				
			}

			header nav ul li:hover .children {
				display:block;
				
			}

			header nav ul li .children {
				display: none;
				background:#011826;
				position: absolute;
				width: 150%;
				z-index:1000;
				
			}

			header nav ul li .children li {
				display:block;
				overflow: hidden;
				border-bottom: 1px solid rgba(255,255,255,.5);
			}

			header nav ul li .children li a {
				display: block;
			}

			header nav ul li .children li a span {
				float: right;
				position: relative;
				top:3px;
				margin-right:0;
				margin-left:10px;
			}

			header nav ul li .caret {
				position: relative;
				top:3px;
				margin-left:10px;
				margin-right:0px;
			}
			.active {
				background-color: #4CAF50;
				color: white;
			}
			
			@media screen and (max-width: 900px) {
				body {
					padding-top:80px;
				}
			
				.menu_bar {
					display:block;
					width:100%;
					position: fixed;
					top:0;
					background-color: #E6344A;
					z-index:1000;
				}

				.menu_bar .bt-menu {
					display: block;
					padding: 17px;
					color: #fff;
					overflow: hidden;
					font-size: 24px;
					font-weight: bold;
					text-decoration: none;
				}
				.menu_bar span {
					float: right;
					font-size: 40px;
					display: block;
					color: #fff;
				}
				header nav ul {
					list-style:none;
				}
				header nav ul .derecha{
					list-style:none;
					float: none;
				}
				header nav {
					width: 100%;
					height: calc(100% - 80px);
					position: fixed;
					right:100%;
					margin: 0;
					overflow: scroll;
					padding-right: 0;
					padding-left: 0;
				}

				header nav ul li {
					display: block;
					border-bottom:1px solid rgba(255,255,255,.5);
				}

				header nav ul li a {
					display: block;
				}

				header nav ul li:hover .children {
					display: none;
				}

				header nav ul li .children {
					width: 100%;
					position: relative;
				}

				header nav ul li .children li a {
					margin-left:20px;
				}

				header nav ul li .caret {
					float: right;
				}
				
			}
			/************ 
			//------------------------------
			// CONTENIDO
			//------------------------------
			************/
			#main-content {
				width: 100%;
				max-width: 1140px;
				margin: 70px auto;
				/*box-shadow: 0 0 10px rgba(0,0,0,.1);*/ /* Usar para relizar un recuadro en el contenido de alguno de los módulos*/
			}
			#main-content header,
			#main-content .content {
				padding: 0px; /* px a no tener en cuenta de los costados*/
			}
			/************ 
			//------------------------------
			// LOGIN
			//------------------------------
			************/
            .panel-primary{
                text-align: left;
            }
            .card-container.card {
                max-width: 350px;
                padding: 40px 40px;
            }

            .btn {
                font-weight: 700;
                height: 36px;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: default;
            }

            /*
             * Card component
             */
            .card {
                background-color: #F7F7F7;
                /* just in case there no content*/
                padding: 20px 25px 30px;
                margin: 0 auto 25px;
                margin-top: 50px;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            }

            .profile-img-card {
                width: 96px;
                height: 96px;
                margin: 0 auto 10px;
                display: block;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            /*
             * Form styles
             */
            .profile-name-card {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                margin: 10px 0 0;
                min-height: 1em;
            }

            .reauth-email {
                display: block;
                color: #404040;
                line-height: 2;
                margin-bottom: 10px;
                font-size: 14px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .form-signin #inputEmail,
            .form-signin #inputPassword {
                direction: ltr;
                height: 44px;
                font-size: 16px;
            }

            .form-signin input[type=email],
            .form-signin input[type=password],
            .form-signin input[type=text],
            .form-signin button {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                z-index: 1;
                position: relative;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .form-signin .form-control:focus {
                border-color: rgb(104, 145, 162);
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            }

            .btn.btn-signin {
                /*background-color: #4d90fe; */
                background-color: rgb(104, 145, 162);
                /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
                padding: 0px;
                font-weight: 700;
                font-size: 14px;
                height: 36px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border: none;
                -o-transition: all 0.218s;
                -moz-transition: all 0.218s;
                -webkit-transition: all 0.218s;
                transition: all 0.218s;
            }

            .btn.btn-signin:hover,
            .btn.btn-signin:active,
            .btn.btn-signin:focus {
                background-color: rgb(12, 97, 33);
            }

            .forgot-password {
                color: rgb(104, 145, 162);
            }

            .forgot-password:hover,
            .forgot-password:active,
            .forgot-password:focus{
                color: rgb(12, 97, 33);
            }

            /************ 
			//------------------------------
			// FOOTER
			//------------------------------
			************/

            #footer {
                background: rgba(212,228,239,1);
                background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
                background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
                background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
                background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
                background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
                text-align:center;
                border-radius: 27px 27px 0px 0px;
                -moz-border-radius: 27px 27px 0px 0px;
                -webkit-border-radius: 27px 27px 0px 0px;
                border: 0px solid #000000;
                padding: 1em;
                -webkit-box-shadow: 11px -8px 77px -10px rgba(0,0,0,0.75);
                -moz-box-shadow: 11px -8px 77px -10px rgba(0,0,0,0.75);
                box-shadow: 11px -8px 77px -10px rgba(0,0,0,0.75);
                width: 83.6%;
                margin-left: 8.2%;
                margin-right: 8.2%;
                align-self: flex-end;
            }
            #contenido {
                height:100%;
            }
            #contenido1 {
                height:100%;
            }
            .social:hover {
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -o-transform:scale(1.1);
            }
            .social {
                -webkit-transform:scale(0.8);
                -moz-transform:scale(0.8);
                -o-transform:scale(0.8);
                -webkit-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
            }


            #social-fb:hover{
                color:#3B5998;
            }
            #social-tw:hover{
                color:#4099FF;
            }
            #social-gp:hover{
                color:#d34836;
            }
            #social-em:hover{
                color:#f39c12;
            }

            /************ 
			//------------------------------
			// CAROUSEL
			//------------------------------
			************/
        
            $('.carousel').carousel({
              interval: 2000
            })

            .carousel-inner img {
                width: 100%;
                height: 100%;
                max-height: 420px;
            }

            .carousel-inner{
                height: 420px;
                border-radius: 27px 27px 27px 27px;
                -moz-border-radius: 27px 27px 27px 27px;
                -webkit-border-radius: 27px 27px 27px 27px;
                border: 0px solid #000000;
            }

            .carousel-control.left
            {
                background: none;
            }
            .carousel-control.right
            {
                background: none;
            }
            .glyphicon-chevron-left,.glyphicon-chevron-right
            {
                background: rgba(112,128,239,1);
                border-radius: 22px 22px 22px 22px;

            }
            .carousel-caption
            {
                position:absolute;
                right: 0;
                bottom: 0;
                left: 0;
                top:60%;
                z-index: 10;
                padding-top: 5px;
                padding-bottom: 20px;
                color: #fff;
                text-align: center;
                background: rgba(0,0,0,0.85);
            }
            .carousel-indicators{
                bottom: 0.25%;
            }
           
        </style>

        </head>

        
        <body > 
            {% block header %}
                               
             
            <div class="container1">
                <header>
                	<div class="menu_bar">
						<ul class="bt-menu">
							<h>Menú</h>
							<a href="#" ><span href="javascript:void(0);" style="font-size:25px;" class="icon">&#9776;</span></a>
						</ul>
					</div>
                    <nav>	   
                        <ul>                    
                            {% block inicio %}<li><a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>{% endblock %}
                            {% block mod1 %}  <li><a href="{{ path('modulo1') }}"> Organizar Cursada</a></li> {% endblock %}
                            {% block mod2 %} <li><a href="{{ path('modulo2') }}"> Historial Horarios</a></li>{% endblock %}                
                            {% block mod3 %} <li><a href="{{ path('modulo3') }}"> Encuesta</a></li>{% endblock %}                
                            {% if is_granted('ROLE_ADMIN') %}                                
                            <li class="submenu">
                                <a href="#" style="text-decoration: none">Administración<span class="caret"></span></a>
                                <ul class="children">                
                                    <li><a href="{{ path('comision_index') }}">Comisiones</a></li>                
                                    <li><a href="{{ path('horario_index') }}">Horarios</a></li>                
                                    <li><a href="{{ path('token_index') }}">Tokens</a></li>                
                                    <li><a href="{{ path('user_index') }}">Usuarios</a></li>                
                                    <li><a href="{{ path('excel') }}">Carga de comisiones</a></li>            	
                                </ul>                
                            </li>                                                

                            {% endif %}                
                                        
                            {% if app.user %}                
                            <li class="derecha"><a href="{{ path('cuenta_index') }}"><span class="glyphicon glyphicon-user"></span> {{ app.user }}</a></li>                
                            <li class="derecha"><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>               
                            {% else %}                
                            <li class="derecha"><a href="{{ path('user_registration') }}"><span class="glyphicon glyphicon-user"></span> Registro</a></li>                
                            <li class="derecha"><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>                
                            {% endif %}                                
                        </ul>                
                    </nav>
                </header>
                </div>
            <main id="main-content">                   
           <!--Esto deberia verse debajo del header y arriba de la vista, como en cabecera como
            cuando te salta cualquier error-->
	            <div>
	            <!--<div class="col-md-11">
	                    <div class="row">
	                        <div class="col-m-12">
	                            <h1>&nbsp;</h1>
	                        </div>
	                    </div>-->
	                    <!-- El primero es un mensaje de success (verde) y el segundo de alert (rojo). Ambos de Bootstrap  -->
	                    {% for mensaje in app.session.flashbag().get('good') %}
	                        <div class="alert alert-success">{{mensaje}}</div>
	                    {%endfor%}
	                    {% for mensaje in app.session.flashbag().get('error') %}
	                        <div class="alert alert-danger">{{mensaje}}</div>
	                    {%endfor%}
	           <!--</div>-->
	            </div>
                                
            {% endblock %} {% block body %}
            
            {% endblock %} {% block javascripts %}
                

            
                
            {% endblock %}
             
            

             
            </main> 
            <div id="footer">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img id="profile-img" src="{{ asset('logoA.png') }}" />
                        </div>
                        <div class="col-md-4">
                            <div id="contenido">
                                <p class="lead text-center">
                                    <!-- <li class="social-icons icon-circle list-unstyled list-inline"> </li> -->
                                    <a href="facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                                    <a href="facebook.com"><i id="social-tw" class="fa fa-twitter-square fa-2x social"> </i></a>
                                    <a href="facebook.com"> <i id="social-gp" class="fa fa-google-plus-square fa-2x social"> </i></a>
                                    <a href="facebook.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"> </i></a>

                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-2 text-center">
						
                            <a data-toggle="modal" data-target="#Acercade" role="button"><i> <font size="3" align="right">Acerca de</font></i></a>
							
                        </div>
                    </div> 
                </div>
            
        </body>
         <!-- Modal -->
                <div class="modal fade" id="Acercade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Güilder</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p align="justify">Güilder es una aplicación desarrollada por estudiantes y para estudiantes, con esta aplicación buscamos ofrecerles a los estudiantes las mejores alternativas de horarios posibles para anotarse en el cuatrimestre que se avecina, esto permitirá tener una mejor visualización y organización de su calendario universitario. Permitiendo brindar a los alumnos la posibilidad de elegir sus preferencias respecto a horarios de futuras cursadas, esto en un futuro podría ser de mucho interés para la universidad logrando que la información alojada en la bases de datos de la esta aplicación sea tomada en cuenta para determinar horarios y comisiones de próximos cuatrimestres.
									Al tratarse de una aplicación para ayudar a todos los alumnos cualquier sugerencia o aporte que tengas será bienvenido, así que te invito a que dejes tu opinión enviandonos tu comentario.
								</p> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

    </html>