{% extends 'base.html.twig' %}

{% block title %} Módulo 1 {% endblock %}
 {% block mod1 %}  <li class="active"><a href="{{ path('modulo1') }}"> Módulo 1</a></li> {% endblock %}
   {% block extras %}
   {{parent()}}
   <link rel="stylesheet" href="../styles/timetablejs.css">
   <link rel="stylesheet" href="../styles/modulos.css" type="text/css" >
   <script src="../../scripts/timetable.min.js"></script>
 {% endblock %}
{% block body %}
<h2> Módulo 1 </h2>

 <div class="hero-unit">
      <h1 id="encabezado">¡Organiza tu cursada!</h1>
    </div>
<div class="container" >
<div id="tablas" class="container">
        
        {#    Tabla de materias con botones  #}
        <div id="tablaMaterias">
            <table class="table table-striped" style="max-width:300px;">
                <thead>
                    <tr>
                        <th>Materias</th>
                    </tr>
                </thead>
                <tbody id="bodyMaterias" style="display: block; height: 400px; overflow-y: scroll">
                    {% for materia in materias %}   
                    <tr class="active" >
                        <td>{{materia.nombre}}</td>
                        <td><button id="btMateria" type="button" value="{{materia.codigo}}" class="btn btn-secondary">Añadir</button></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div id="tablaComisiones">
            <table id="bodyComisiones" class="table table-striped" style="max-width:300px;">
                <thead>
                    <tr>
                        <th scope="col">Comision</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Desde</th>
                        <th scope="col">Hasta</th>
                        <th scope="col">Día</th>
                    </tr>
                </thead>
                <tbody style="display: block; height: 400px; ">

                </tbody>
            </table>
        </div>
</div>
            
    <div class="timetable" style="float: bottom">
        <aside>
            <ul>
                <li>
                    <span class="row-heading">Lunes</span>
                </li>
                <li><span class="row-heading">Martes</span></li>
                <li><span class="row-heading">Miercoles</span></li>
                <li><span class="row-heading">Jueves</span></li>
                <li><span class="row-heading">Viernes</span></li>
                <li><span class="row-heading">Sabado</span></li>
        </aside>
        <section>
            <time>
                <header>
                    <ul>
                        <li>
                            <span class="time-label">08:00</span>
                        </li>
                        <li>
                            <span class="time-label">09:00</span>
                        </li>
                        <li>
                            <span class="time-label">10:00</span>
                        </li>
                        <li>
                            <span class="time-label">11:00</span>
                        </li>
                        <li>
                            <span class="time-label">12:00</span>
                        </li>
                        <li>
                            <span class="time-label">13:00</span>
                        </li>
                        <li>
                            <span class="time-label">14:00</span>
                        </li>
                        <li>
                            <span class="time-label">15:00</span>
                        </li>
                        <li>
                            <span class="time-label">16:00</span>
                        </li>
                        <li>
                            <span class="time-label">17:00</span>
                        </li>
                        <li>
                            <span class="time-label">18:00</span>
                        </li>
                        <li>
                            <span class="time-label">19:00</span>
                        </li>
                        <li>
                            <span class="time-label">20:00</span>
                        </li>
                        <li>
                            <span class="time-label">21:00</span>
                        </li>
                        <li>
                            <span class="time-label">22:00</span>
                        </li>
                    </ul>
                </header>
                <ul class="room-timeline">
                    {#<script>#}
                    <li>
                        {#<a title="Sightseeing" href="#" class="time-entry" style="width: 10.2941%; left: 10.2941%;">
                            <small>Sightseeing</small></a>#}
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        
                    </li>
                    
                    <li>    
                    </li>
                    
                    <li>
                    </li>
{#                    </script>#}
                </ul>
            </time>
        </section>
    </div>
                </div>
                
    
    <script src="//www.google-analytics.com/analytics.js"></script><script src="../scripts/timetable.min.js"></script>

    <script>
        var timetable = new Timetable();

        timetable.setScope(8,22)

        timetable.addLocations(['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']);

        //timetable.addEvent('Sightseeing', 'Rotterdam', new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), '#'); el url es opcional
        
        var renderer = new Timetable.Renderer(timetable);
        renderer.draw('.timetable');
    </script>
    {#{% block javascripts %}#}
    
    <script>
        $("#bodyMaterias").find("button").click(function(){
            var param = $(this).val();
            {# Realizo un get utilizando AJAX enviando como parametro el codigo de la materia #}
            $.get("{{url('agregar_comisiones')}}",{codigo:param} ,  function(mydata){

                var arrayCom= mydata.split("[");
                arrayCom.splice(0,2);
                console.log("----------------------");
                eliminaFilas();
                arrayCom.forEach(function(datos){
                    console.log(datos);
                    var arrayDatos= datos.split(",");
                    var horaIni= (arrayDatos[3]).slice(19,25);
                    var horaFin= arrayDatos[6].slice(19,25);
                    console.log(arrayDatos);
                    $("#bodyComisiones tr:last").after('<tr> class="active” <th scope="row">'+
                    arrayDatos[2]+'</td><td>'+ arrayDatos[0].slice(1,arrayDatos[9].length-1)+
                    '</td><td>'+arrayDatos[1].slice(1,arrayDatos[9].length-1)+'</td><td>'+ horaIni+
                    '</td><td>'+ horaFin+'</td><td>'+arrayDatos[9].slice(1,arrayDatos[9].length-2)+
                    '</td><td><button type="button" class="btn btn-secondary" onClick="agregarTimeTable('+param+')"> Agregar </button></td></tr>');
                })
            });
        });

    </script>
    <script>
    function eliminaFilas(){
        /*Borra todas las filas excepto la primera*/
        $('#bodyComisiones tr:not(:first-child)').remove();
        }
    </script>
    <script>
        function agregarTimeTable(codigo){
            console.log("Funca");
            timetable.addEvent(codigo, 'Martes',new Date(2015,7,17,'8:00'), new Date(2015,7,17, '11:00'));
        }
    </script>
{% endblock %}