{% extends 'base.html.twig' %}

{% block title %} Güilder {% endblock %}
{% block mod2 %} <li class="active">
        <a href="{{ path('modulo2') }}"> Módulo 2</a>
    </li>{% endblock %}
    {% block extras %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{asset('styles/calendar-heatmap.css')}}">
        <script src="{{ asset('scripts/moment.js')}}" charset="utf-8"></script>
        <script src="{{ asset('scripts/d3.min.js')}}" charset="utf-8"></script>

        <script src="{{ asset('scripts/calendar-heatmap.min.js') }}"></script>      
    {% endblock %}
    {% block body %}

        <div class="row">
            <div class="col-m-12">
                <h1>&nbsp;</h1>
            </div>
            <div class="hero-unit">
                <h1 id="encabezado">Modulo 2</h1>
            </div>
        </div>
        <div class="container" id="contenedor">
            <div class="panel panel-primary" id="panel">
                <div class="panel-heading">
                    <h1 class="panel-title">Materias historicas</h1>
                </div>
                {#                {{ form_start(form) }}
                                {{ form_widget(form.materiamateria) }}
                                
                                <input id="ej" type="submit" value="Submit" />
                                {{ form_end(form.materiamateria) }}
                                {{ form_widget(form.year) }}
                                {{ form_end(form.year) }}
                                #}
                <div>
                    <table>
                        <tr>
                            <th>Materia</th>
                            <th>Año</th>
                            <th>Cuatrimestre</th>
                        </tr>
                        <tr>
                            {{ form_start(form) }}
                            <td>{{ form_widget(form.materiamateria) }}&nbsp</td>
                            <td>{{ form_widget(form.year) }}&nbsp</td>
                            <td>{{ form_widget(form.cuatrimestre)}}&nbsp</td>
                        </tr>

                    </table>
                    <input id="ej" class="btn btn-primary" type="submit" value="Submit" />

                </div>
                {{form_end(form)}}
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Numero de comision</th>
                                <th>Profesor</th>
                                <th>Año </th>
                                <th>Cuatrimestre</th>
                                <th>Dia </th>
                                <th>Hora de inicio</th>
                                <th>Hora de fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comision in comisions %}
                                <tr>
                                    <td> {{ comision.numero }} &nbsp</td>
                                    <td> {{ comision.profesor }} &nbsp </td>
                                    <td> {{ comision.year }} &nbsp</td>
                                    <td> {{ comision.cuatrimestre }} &nbsp</td>
                                    {% for x in horarios %}
                                        {% set var =x|length %}	
                                        {% for horario in x %}		
                                            {% if comision.idcomision==horario.comisioncomision.idcomision %}
                                                <td>{{horario.diadia}}  &nbsp</td>
                                                <td>{{horario.inicio|date('H:i')}} &nbsp</td>
                                                <td>{{horario.fin|date('H:i')}} &nbsp</td> 
                                            {% endif %}
                                        {% endfor %}	
                                    {% endfor %}
                                </tr>	   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <script>
            var data = [{
                    "date": "2016-01-01",
                    "total": 17164,
                    "details": [
                        {"name": "Lunes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Martes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Miércoles",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Jueves",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Viernes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Sábado",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
            {% for dato in info %}
                            {
                                "name": '{{dato[0]}}',
                                "date": "2016-01-01 {{dato[1]|date('H:i')}}",
                                "value": '{{dato[2]}}'
                            },
            {% endfor %}
                        ]
                    }]

                // Set custom color for the calendar heatmap
                var color = '#234acd';
                // Set overview type (choices are year, month and day)
                var overview = 'day';
                // Handler function
                var print = function (val) {
                    console.log(val);
                };
                // Initialize calendar heatmap
                calendarHeatmap.init(data, color, overview, print);
        </script>
        <script>
            var reload = 0;
            $(document).ready(function () {
                $('.calendar-heatmap').appendTo("#panel");
                if (reload = 0) {
                    location.reload();
                    reload++;
                }
            });
        </script>
        <div class="row">
            <div class="col-m-12">
                <h1>&nbsp;</h1>
            </div>
        </div>


    {% endblock %}

