{% extends 'base.html.twig' %}

{% block title %} Güilder {% endblock %}
{% block body %}
    
    <div class="panel panel-primary">
         <div class="panel-heading">
            <h1 class="panel-title">Materias historicas</h1>
         </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Submit" />
        {{ form_end(form) }}
   
    
        <div class="panel-body">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero &nbsp</th>
                    <th>Profesor &nbsp</th>
                    <th>Año &nbsp</th>
                    <th>Cuatrimestre &nbsp</th>
                    <th>dia &nbsp</th>
                    <th>hora inicio &nbsp</th>
                    <th>hora fin &nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for comision in comisions %}
                    <tr>
                        <td> {{ comision.numero }} &nbsp</td>
                        <td> {{ comision.profesor }} &nbsp </td>
                        <td> {{ comision.year }} &nbsp</td>
                    <td> {{ comision.cuatrimestre }} &nbsp</td>
                        {% for x in horarios %}
                            {% set var =x|length %}	
                            {% for horario in x %}		
                                {% if comision.idcomision==horario.comisioncomision.idcomision %}
                                    <td>{{horario.diadia}}  &nbsp</td>
                                    <td>{{horario.inicio|date('H:i')}} &nbsp</td>
                                    <td>{{horario.fin|date('H:i')}} &nbsp</td> 
                                {% endif %}
                            {% endfor %}	
                        {% endfor %}
                    </tr>	   
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}