{% extends 'base.html.twig' %}

{% block title %} Güilder - Historial{% endblock %}
{% block mod2 %} <li class="active">
        <a href="{{ path('modulo2') }}"> Historial Horarios</a>
    </li>{% endblock %}
    {% block extras %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{asset('styles/calendar-heatmap.css')}}">
        <script src="{{ asset('scripts/moment.js')}}" charset="utf-8"></script>
        <script src="{{ asset('scripts/d3.js')}}" charset="utf-8"></script>

        <script src="{{ asset('scripts/calendar-heatmap.js') }}"></script>      
    {% endblock %}
    {% block body %}

        <div class="row">
            <div class="col-m-12">
                <h1>&nbsp;</h1>
            </div>
            <div class="hero-unit">
                <h1 id="encabezado">Historial de oferta Horaria</h1>
            </div>
        </div>
        <div class="container" id="contenedor">
            <div class="panel panel-primary" id="panel">
                <div class="panel-heading">
                    <h1 class="panel-title">Materias historicas</h1>
                </div> 

                <div class="panel-body">
                    <form name="appbundle_comision" method="post">
                        <table>
                            <tr>
                                <th><label for="appbundle_comision_materiamateria">Materia</label></th>
                                <th><label for="appbundle_comision_year">Año</label></th>
                                <th><label for="appbundle_comision_cuatrimestre">Cuatrimestre</label></th>
                            </tr>
                            <tr>
                                <td><select class="form-control " id="appbundle_comision_materiamateria" name="appbundle_comision[materiamateria]"><option value=""></option><option value="53">Taller de Ingeniería</option><option value="54">Problemas de la Historia Argentina</option><option value="55">Sistemas de Representación</option><option value="56">Matemática</option><option value="57">Taller de Lectura y Escritura</option><option value="58">Prácticas Culturales</option><option value="59">Fundamentos de Informática</option><option value="60">Matemática I</option><option value="61">Matemática II</option><option value="62">Algoritmos y Programación</option><option value="63">Organización y Arquitectura de Computadoras</option><option value="64">Sistemas Operativos I</option><option value="65">Física I</option><option value="66">Matemática III</option><option value="67">CTEDyA</option><option value="68">Base de Datos I</option><option value="69">Redes de Computadoras I</option><option value="70">Física II</option><option value="71">Metodologías de Programación I</option><option value="72">Información y Comunicaciones</option><option value="73">Ingeniería de Software I</option><option value="74">Redes de Computadras II</option><option value="75">Probabilidad y Estadística</option><option value="76">Proyecto Software</option><option value="77">Química General</option><option value="78">Metodologías de Programación II</option><option value="79">Seguridad de la Información</option><option value="80">Base de Datos II</option><option value="81">Ingeniería en Software II</option><option value="82">Sistemas Operativos II</option><option value="83">Seguridad en Aplicaciones</option><option value="84">Aplicaciones Móviles</option><option value="85">Administración de Proyectos</option><option value="86">Lenguajes Formales y Autómatas</option><option value="87">Programación en Tiempo Real</option><option value="88">Ingeniería Ambiental</option><option value="89">Sistemas y Organizaciones</option><option value="90">Legislación y Ejercicio Profesional de la Informática</option><option value="91">Gestión de Recursos Humanos</option><option value="92">Gestión de Calidad, Higiene y Seguridad</option><option value="93">Economía</option><option value="94">Práctica Profesional Supervisada</option><option value="95">Gobierno de IT y Auditoría de SI</option><option value="96">Datawarehouse y Bussiness Intelligence</option><option value="97">Gobierno Electrónico</option><option value="98">Aplicación Java sobre web</option><option value="99">Bioinformática</option><option value="100">Sistemas Distribuidos</option><option value="101">Tráfico en Redes</option></select>&nbsp</td>
                                <td><input class="form-control" type="number" id="appbundle_comision_year" name="appbundle_comision[year]" />&nbsp</td>
                                <td><input class="form-control" type="number" id="appbundle_comision_cuatrimestre" name="appbundle_comision[cuatrimestre]" />&nbsp</td>
                            </tr>
                        </table>
                        <input id="ej" class="btn btn-primary" type="submit" value="Submit" />
                        {{ form_row(form._token) }}
                    </form>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Numero de comision</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Año </th>
                                <th scope="col">Cuatrimestre</th>
                                <th scope="col">Dia </th>
                                <th scope="col">Hora de inicio</th>
                                <th scope="col">Hora de fin</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for comision in comis %}
                                <tr>
                                    <th scope="row"> {{ comision.numero }} &nbsp</td>
                                    <td> {{ comision.profesor }} &nbsp </td>
                                    <td> {{ comision.year }} &nbsp</td>
                                    <td> {{ comision.cuatrimestre }} &nbsp</td>
                                    <td> {{comision.dia}}  &nbsp</td>
                                    <td> {{comision.inicio}} &nbsp</td>
                                    <td> {{comision.fin}} &nbsp</td> 
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <script>
            var data = [{
                    "date": "2016-01-01",
                    "total": 17164,
                    "details": [
                        {"name": "Lunes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Martes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Miércoles",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Jueves",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Viernes",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},
                        {"name": "Sábado",
                            "date": "2016-01-01 0:0:0",
                            "value": 0},{% for comision in comis %}
                        {
                            "name": '{{comision.dia}}',
                            "date": "2016-01-01 {{comision.inicio}}",
                            "value": '{{comision.segundos}}'
                        },
            {% endfor %}
                        ]
                    }]

                // Set custom color for the calendar heatmap
                var color = '#234acd';
                // Set overview type (choices are year, month and day)
                var overview = 'day';
                // Handler function
                var print = function (val) {
                    console.log(val);
                };
                // Initialize calendar heatmap
                calendarHeatmap.init(data, color, overview, print);
            </script>
            <script>
                var reload = 0;
                $(document).ready(function () {
                    $('.calendar-heatmap').appendTo("#panel");
                    $(window).resize();
                });
            </script>
            


            {% endblock %}

