{% extends 'base.html.twig' %}

{% block title %} Güilder - Módulo 3{% endblock %}
  {% block mod3 %} <li class="active"><a href="{{ path('modulo3B') }}"> Módulo 3</a></li>{% endblock %}
  {% block extras %}
  {{parent()}}
  {% endblock %}
{% block body %}
<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
    </div>
</div>

<form action="encuesta2" method="post">
    <div class="row">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-question-sign"></span> ¿En que turno va a cursar las materias elegidas?
                    </h3>
                </div>
                <div class="row container-fluid">
                    <div class="row container-fluid">
                        <div class="panel-body">
                            {% set contador = 0 %}
                            {% for X in nombresMaterias %}
                                <div class="panel-heading">
                                    <h3 class="panel panel-primary">Materia: {{X}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-secondary active">
                                                    <input type="radio" name="turno[{{contador}}]" value={{codigosMaterias[contador]~',1'}} autocomplete="off" checked='checked'> Turno mañana
                                                </label>
                                                <label class="btn btn-secondary">
                                                    <input type="radio" name="turno[{{contador}}]" value={{codigosMaterias[contador]~',2'}} autocomplete="off"> Turno tarde
                                                </label>
                                                <label class="btn btn-secondary">
                                                    <input type="radio" name="turno[{{contador}}]" value={{codigosMaterias[contador]~',3'}} autocomplete="off"> Turno noche
                                                </label>
                                            </div>
                                        </label>  
                                    </div>
                                </div>
                                {%set contador = contador +1%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h3>
                        <button type="submit" name="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
                        {{ dump(nombresMaterias) }}
                        {{ dump(codigosMaterias) }}
                    </h3>
                </div>
            </div>
        </div>
    </div>    
</form>


{% endblock %}