{% extends 'base.html.twig' %}
{% block title %} Sección de usuarios{% endblock %}
{% block body %}


<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>

<div class="container">
     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de usuarios</h1>
            </div>

            <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Rol</th>
                        <th>ID</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            <tbody>
                {% for user in users %}
                     <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.rolrol }}</td>
                <td>{{ user.iduser }}</td>
                <td>
                    
                       
                        
                            <a class="btn btn-primary" href="{{ path('user_edit', { 'iduser': user.iduser }) }}">Editar</a>
                        
                    
                </td>
            </tr>
                {% endfor %}
            </tbody>
    </table>

   {#  <ul>
        
            
            <a class="btn btn-primary" href="{{ path('user_new') }}" role="button">Crear un nuevo usuario</a> 
    </ul> #}

</div>
</div>
</div>
</div>
{% endblock %}