{% extends 'base.html.twig' %}

{% block body %}
     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de usuarios</h1>
            </div>

            <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Rol</th>
                        <th>idUser</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            <tbody>
                {% for user in users %}
                     <tr>
                <td><a href="{{ path('user_show', { 'iduser': user.iduser }) }}">{{ user.username }}</a></td>
                <td>{{ user.rolrol }}</td>
                <td>{{ user.iduser }}</td>
                <td>
                    
                        
                            <a class="btn btn-primary" href="{{ path('user_show', { 'iduser': user.iduser }) }}">show</a>
                        
                            <a class="btn btn-primary" href="{{ path('user_edit', { 'iduser': user.iduser }) }}">edit</a>
                        
                    
                </td>
            </tr>
                {% endfor %}
            </tbody>
    </table>

   {#  <ul>
        
            
            <a class="btn btn-primary" href="{{ path('user_new') }}" role="button">Crear un nuevo usuario</a> 
    </ul> #}

{% endblock %}