{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar usuario</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{{ path('user_index') }}" role="button">Volver a la lista</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Borrar">
    {{ form_end(delete_form) }}       
</div>

{% endblock %}
