{% extends 'base.html.twig' %}

{% block body %}
     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de usuarios</h1>
            </div>

            <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>Comportamiento</th>
                    </tr>
                </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.rol }}</td>
                        <td>
                            
                            <ul>   
                               
                                    <a class="btn btn-primary" href="{{ path('user_show', { 'id': user.id }) }}" role="button">Mostrar</a>     
                               
                                    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}" role="button">Editar</a> 
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

    <ul>
        
            
            <a class="btn btn-primary" href="{{ path('user_new') }}" role="button">Crear un nuevo usuario</a> 
    </ul>

{% endblock %}
