{% extends 'base.html.twig' %}

{% block body %}
    <p></p>
    <h1>{{nuser}}</br></h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ user.apellido }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ user.rol }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>
 
            <a class="btn btn-primary" href="{{ path('user_index') }}" role="button">Volver a la lista</a>  
            <a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}" role="button">Editar</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
  
{% endblock %}
