{% extends 'base.html.twig' %}


{% block title %} Cambio de contraseña {% endblock %}

{% block body %}
<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>

<div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Cambio de contraseña</h1>
            </div>
<div class="panel-body">

{% for message in app.flashes('hecho') %}
  <div class="alert alert-success">
  <center>Password cambiada correctamente</center></div>
{% endfor %}
{{ form_start(form) }}


<center>
<div>

	<div>
	    <p>{{ form_label(form.password, 'Contraseña vieja:') }}</p>
        	{% if form_errors(form.password)|length >0 %}
	<center><h4>Las contraseña es incorrecta</h4></center>
	{% endif %}
        <p>{{ form_widget(form.password) }}</p></div>
		

	<div>
    <p>{{ form_label(form.plainPassword.first, 'Contraseña nueva:') }}</p>
	{% if form_errors(form.plainPassword.first)|length >0 %}
	<center><h4>Las contraseñas no coinciden o son de longitud muy corta</h4></center>
	{% endif %}
	<p>{{ form_widget(form.plainPassword.first) }}</p></div>
	
	<div>
	 <p>{{ form_label(form.plainPassword.second, 'Repetir contraseña:') }}</p>

	<p>{{ form_widget(form.plainPassword.second) }}</p></div>
	{{ form_row(form._token) }}
	<div><p><button type="submit" id="change_password_ChangePassword" class="btn btn-success" name="change_password[ChangePassword]">Cambiar contraseña</button></p></div>

</div>
<p><center><a class="btn btn-primary" href="{{ path('cuenta_index') }}" role="button" >Volver</a></center></p>
</center>
</div>
</div>
</div>
</div>
{% endblock %}