{% extends 'base.html.twig' %}


{% block title %} Sección de cuenta {% endblock %}

{% block body %}

<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>
    
<div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Tus datos</h1>
            </div>
<div class="panel-body">
{{ form_start(edit_form) }}
<center>
<div>
        <p>{{ form_label(edit_form.email, 'E-Mail:') }}</p>
         <p>{{ form_errors(edit_form.email) }} </p>
         <p>{{ form_widget(edit_form.email) }}</p>
</div>
<div>
        <p>{{ form_label(edit_form.legajo, 'Legajo:') }}
         <p>{{ form_errors(edit_form.legajo) }}</p>
        <p> {{ form_widget(edit_form.legajo) }}</p>
</div>
<div>
        <p>{{ form_label(edit_form.carreracarrera, 'Carrera:') }}</p>
         <p>{{ form_errors(edit_form.carreracarrera) }}</p>

         <p>{{ form_widget(edit_form.carreracarrera) }}</p>

</div>
</center>

		<p><center><input type="submit" class="btn btn-success" value="Actualizar datos"></center></p>
		{{ form_end(edit_form) }}

    
	 <p><center><a class="btn btn-primary" href="{{ path('change_password') }}" role="button" >Cambiar contraseña</a></center></p>


            {{ form_start(delete_form) }}
			<p><center><input type="submit" class="btn btn-danger" value="Eliminar cuenta"></center></p>
             
            {{ form_end(delete_form) }}
</div>
</div>
{% endblock %}
