{% extends 'base.html.twig' %}


{% block title %} Crear comisión {% endblock %}

{% block body %}


<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>

<div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Crear nueva comisión</h1>
            </div>
<div class="panel-body">

<center>
    {{ form_start(form) }}
<div>
        <p>{{ form_label(form.numero, 'Número:') }}
         <p>{{ form_errors(form.numero) }}</p>
        <p> {{ form_widget(form.numero) }}</p>
</div>

<div>
        <p>{{ form_label(form.profesor, 'Profesor:') }}</p>
         <p>{{ form_errors(form.profesor) }} </p>
         <p>{{ form_widget(form.profesor) }}</p>
</div>
<div>
        <p>{{ form_label(form.cuatrimestre, 'Cuatrimestre:') }}
         <p>{{ form_errors(form.cuatrimestre) }}</p>
        <p> {{ form_widget(form.cuatrimestre) }}</p>
</div>
<div>
        <p>{{ form_label(form.year, 'Año:') }}
         <p>{{ form_errors(form.year) }}</p>
        <p> {{ form_widget(form.year) }}</p>
</div>

<div>
        <p>{{ form_label(form.materiamateria, 'Materia:') }}
         <p>{{ form_errors(form.materiamateria) }}</p>
        <p> {{ form_widget(form.materiamateria) }}</p>
</div>

</center>



        <p><center><input type="submit" class="btn btn-success" value="Crear comisión"></center></p>
    {{ form_end(form) }}


            <p><center><a class="btn btn-primary" href="{{ path('comision_index') }}" role="button" >Volver a la lista</a></center></p>

			</div>
			</div>
			</div>
			</div>
{% endblock %}