{% extends 'base.html.twig' %}



{% block body %}


<h1>Lista de tokens</h1>

{% for message in app.flashes('tokencreado') %}
	<div class="alert alert-success">
  <strong>Éxito</strong> El token ha sido creado con el código {{ message }}.
    </div>
{% endfor %}
{% for message in app.flashes('tokeneliminado') %}
	<div class="alert alert-danger">
  El token ha sido eliminado.
    </div>
{% endfor %}
<div class="center-block" style="max-width:400px">
	<a href="{{ path('token_new') }}" class="btn btn-success btn-lg">
	<span class="glyphicon glyphicon-plus"></span> Crear nuevo token 
	</a>
</div>

	
	<table class="table table-bordered">
    <thead>
      <tr>
        <th><p class="text-center">Token</p></th>
        <th><p class="text-center">Fecha de creación</p></th>
        <th><p class="text-center">Acciones</p></th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
            <tr>
				<td>{{ token.token }}</td>
                <td>{{ token.creado|date('Y-m-d H:i') }}</td>
				<td><a href="{{ path('token_delete', { 'idtoken': token.idtoken }) }}" class="btn"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
	


    
{% endblock %}
