{% extends 'base.html.twig' %}

{% block title %} Editar horario {% endblock %}

{% block body %}

<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>

<div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Información de horario</h1>
            </div>
<div class="panel-body">

{{ form_start(edit_form) }}
<center>
<div>
        <p>{{ form_label(edit_form.inicio, 'Inicio:') }}</p>
         <p>{{ form_errors(edit_form.inicio) }} </p>
         <p>{{ form_widget(edit_form.inicio) }}</p>
</div>
<div>
        <p>{{ form_label(edit_form.fin, 'Fin:') }}
         <p>{{ form_errors(edit_form.fin) }}</p>
        <p> {{ form_widget(edit_form.fin) }}</p>
</div>
<div>
        <p>{{ form_label(edit_form.comisioncomision, 'Comisión:') }}
         <p>{{ form_errors(edit_form.comisioncomision) }}</p>
        <p> {{ form_widget(edit_form.comisioncomision) }}</p>
</div>
<div>
        <p>{{ form_label(edit_form.diadia, 'Día:') }}
         <p>{{ form_errors(edit_form.diadia) }}</p>
        <p> {{ form_widget(edit_form.diadia) }}</p>
</div>


</center>
	
        <p><center><input type="submit" class="btn btn-success" value="Actualizar horario"></center></p>
  
  {{ form_end(edit_form) }}

	
			<p><center><a class="btn btn-primary" href="{{ path('horario_index') }}" role="button" >Volver a la lista</a></center></p>
            {{ form_start(delete_form) }}
            <p><center><input type="submit" class="btn btn-danger" value="Eliminar horario"></center></p>
            {{ form_end(delete_form) }}

</div>
</div>

</div>
</div>			
{% endblock %}
