{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
				<th>Materia</th>
				<th>Profesor</th>
                <th>Idhorario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.inicio|date('H:i') }}</a></td>
                <td>{% if horario.fin %}{{ horario.fin|date('H:i') }}{% endif %}</td>
				<td>{{horario.comisioncomision}}	</td>
				<td>{{horario.comisioncomision.profesor}}	</td>
                <td>{{ horario.idhorario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'idhorario': horario.idhorario }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'idhorario': horario.idhorario }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new horario</a>
        </li>
    </ul>
{% endblock %}
