{% extends 'base.html.twig' %}

{% block title %} Sección de horarios{% endblock %}

{% block body %}

<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>
<div class="container">
     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Horarios</h1>
            </div>

<div class="panel-body">
<center><a class="btn btn-success" href="{{ path('horario_new') }}">Crear nuevo horario</a></center>
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
				<th>Materia</th>
				<th>Profesor</th>
                <th>ID</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.inicio|date('H:i') }}</a></td>
                <td>{% if horario.fin %}{{ horario.fin|date('H:i') }}{% endif %}</td>
				<td>{{horario.comisioncomision}}	</td>
				<td>{{horario.comisioncomision.profesor}}	</td>
                <td>{{ horario.idhorario }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('horario_edit', { 'idhorario': horario.idhorario }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            

</div>
</div>
</div>
</div>
{% endblock %}
