{% extends 'base.html.twig' %}


{% block title %} Crear horario {% endblock %}

{% block body %}


<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>

<div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Crear nuevo  horario</h1>
            </div>
<div class="panel-body">

<center>
    {{ form_start(form) }}
<div>
        <p>{{ form_label(form.inicio, 'Inicio:') }}</p>
         <p>{{ form_errors(form.inicio) }} </p>
         <p>{{ form_widget(form.inicio) }}</p>
</div>
<div>
        <p>{{ form_label(form.fin, 'Fin:') }}
         <p>{{ form_errors(form.fin) }}</p>
        <p> {{ form_widget(form.fin) }}</p>
</div>
<div>
        <p>{{ form_label(form.comisioncomision, 'Comisión:') }}
         <p>{{ form_errors(form.comisioncomision) }}</p>
        <p> {{ form_widget(form.comisioncomision) }}</p>
</div>
<div>
        <p>{{ form_label(form.diadia, 'Día:') }}
         <p>{{ form_errors(form.diadia) }}</p>
        <p> {{ form_widget(form.diadia) }}</p>
</div>


</center>



        <p><center><input type="submit" class="btn btn-success" value="Crear horario"></center></p>
    {{ form_end(form) }}


            <p><center><a class="btn btn-primary" href="{{ path('horario_index') }}" role="button" >Volver a la lista</a></center></p>

			</div>
			</div>
			</div>
			</div>
{% endblock %}
